<?xml version="1.0"?>
<configuration>
  <!--声明一个名为“log4net”的自定义配置节-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!--log4net配置信息-->
  <log4net>
    <logger name="MongoDBLogger">
      <level value="ALL"/>
      <appender-ref ref="MongoDBAppender" />
    </logger>
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <connectionString value="mongodb://(登录名):(密码)@(服务器地址)/AppLog" />
      <CollectionName value="yyyyMMdd"/>
    </appender>
  </log4net>
</configuration>